extends layout

block content
  div(class="page")
    div(class="header")
      div(class="container")
        div(class="left")
        div(class="right")
        div(class="center")
    div(class="main")
      div(id="fall")
      div(class="bottom")
  div(class="bottom-tool")
    div
    div
  div(class="modal fade" id="addModal" tabindex="-1" role="dialog")