doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title= "Album"
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/jquery-colorbox/colorbox.css")
    link(rel="stylesheet" href="css/bootstrap-datepicker3.css")
    script(type="text/javascript" src="js/masonry.pkgd.min.js")
    //script(type="text/javascript" src="js/dev/masonry.pkgd.js")
  body
    block content
    script(type="text/javascript" src="js/all.min.js")
    //script(type="text/javascript" src="js/dev/self/react-js.js")