//
   Created by Donghui Huo on 2015/7/3.
extends layout
block content
   h1.
      User List
   <h1>test</h1>
   ul
      each user, i in userlist
         li
            a(href="mailto:#{user.nickname}")= user.username